:root {
  --bg-color: #222;
  --text-color: #fefefe;
  --board-color: peru;

  --sun-color: white;
  --moon-color: black;
  --border-color: gray;

  --square-color: #0003;

  /* CHOTA */
  --color-primary: var(--board-color);
  --font-color: var(--text-color);
}
* {
 outline: none;
}
.container {
  padding: 0;
}
dialog.card {
  bottom: 1%;
  z-index: 99;
  max-width: 480px;
  min-width: 240px;
  .button {
    width: 100%;
  }
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
}

.icon.burger::after {
  content: '|||';
  transform: rotate(90deg);
}
